body{
    font-family: 'Poppins', sans-serif;
    
   
}
.orange-color{
    color: orange;
}
h1{
    font-size: 50px;
    font-weight: 900;
    color: #575757;
}
h3{
    margin-bottom: 20px;
    font-size: 30px;
}
.order-button{
text-decoration: none;
color: white;
background-image: linear-gradient(orange,red);
padding: 10px 20px;
border-radius: 40px;
font-weight: 900;
}

.top-part{
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 95%;
    border-radius: 5%;
}
#left-background{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-position: left;
}

#right-background{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-position: right;
}

.middle-part{
    margin-top: 100px;
    display: flex;
    
}
.top-recipies{
    text-align: center;
    
}
.thirty-three{
    width: 33%;
    margin: 20px;
    box-shadow: 10px 10px 30px gray;
    padding: 15px;
    border-radius: 20px;


}
.thirty-three img{
    width: 95%;
    
}
.recipies{
    display: flex;
}

